# Ignore the .idea folder
.idea/

# Ignore all checkpoints stored in folder
/ssd/ssd_checkpoints/

# Ignore all inference prediction images
/ssd/prediction_images/

# Ignore all checkpoints (torch checkpoints have file extension .pth)
*.pth

node_modules/

# Ignore Python cache files
__pycache__/
*.pyc

.env

.DS_Store

/yolov8n/runs/
/yolov8n/weights/
/frontend/static/input_images/
/frontend/static/output_images/
/frontend/static/output_images_steps/
/ssd/ssd_weights/
