<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>ANPR</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
    <script src="{{url_for('static', filename='index.js')}}"></script>
</head>
<body>

<div>

    <h1>Upload an image or video!</h1>
    <h2>Upload an Image</h2>
    <form action="/upload-image" method="POST" enctype="multipart/form-data">
        <input type="file" name="image" accept="image/*" onchange="previewImage(event)" required>
        <img id="image-preview" src="#" alt="Image Preview" style="display:none; max-width:300px;">
        <!-- Preprocessing options -->
        <fieldset>
            <legend>Select Preprocessing Steps:</legend>
            <label for="sharpen">Sharpen:</label>
            <input type="checkbox" id="sharpen" name="preprocessing" value="sharpen" checked>
            <br>
            <label for="grayscale">Grayscale:</label>
            <input type="checkbox" id="grayscale" name="preprocessing" value="grayscale">
            <br>
            <label for="threshold">Thresholding (for dark/bright images):</label>
            <input type="checkbox" id="threshold" name="preprocessing" value="threshold">
            <br>
            <label for="histogram_equalisation">Histogram Equalisation (for dark/bright images):</label>
            <input type="checkbox" id="histogram_equalisation" name="preprocessing" value="histogram_equalisation">
            <br>
            <label for="rotate">Rotate license plate:</label>
            <input type="checkbox" id="rotate" name="preprocessing" value="rotate" onclick="toggleRotateInput()">
            <input type="number" id="rotate-angle" name="rotate_angle" placeholder="Angle" style="display: none;">
            <br>
            <label for="show_steps">Show steps:</label>
            <input type="checkbox" id="show_steps" name="preprocessing" value="show_steps" checked>
        </fieldset>

        <button type="submit">Upload</button>
    </form>

    <h2>Upload a video</h2>
    <form action="/upload-video" method="POST" enctype="multipart/form-data">
        <input type="file" name="video" accept="video/*" onchange="previewVideo(event)" required>
        <video controls id="video-preview" style="display:none; max-width:300px;">
            <source id="video-src" src="#" type="#">
        </video>
        <!-- Preprocessing options -->
    </form>

    {% if input_filename %}
        <h3>Input Image</h3>
        <img src="{{ url_for('static', filename='input_images/' + input_filename) }}" alt="Input Image" style="max-width:300px;">
    {% endif %}

    {% if output_filename %}
        <h3>Processed Image</h3>
        <img src="{{ url_for('static', filename='output_images/' + output_filename) }}" alt="Output Image" style="max-width:300px;">
    {% endif %}

    {% if steps_filename %}
        <h3>Preprocessing Steps</h3>
        <img src="{{ url_for('static', filename='output_images_steps/' + steps_filename) }}" alt="Preprocessing steps images" style="max-width:300px;">
    {% endif %}



</div>

</body>
</html>